@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  body {
    color: #000;
    background: #fff;
  }
  .page-container {
    @apply px-24;
  }
  .hide-scrollbar-webkit::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .hide-scrollbar-webkit::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .hide-scrollbar-webkit::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
  .hide-scrollbar {
    scrollbar-width: none;
  }
}
